@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --background:rgba(69, 145, 216, 0.85);
}
* {
    box-sizing: border-box;
}

/*Add Style to Contact Form*/
input[type=text], select {
    width: 50%;
    padding: 10px 18px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 50%;
    padding: 10px 18px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=number], select {
    width: 50%;
    padding: 10px 18px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=datetime-local], select {
    width: 50%;
    padding: 10px 18px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

div.container {
    border-radius: 5px;
    padding: 20px;
}

body {
    margin: 0;
    background-color: rgb(69, 145, 207);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h2, h3, p {
    color: white;
}

div.footer {
    margin: 0;
    padding: 0;
    border: 0;
}

footer > li {
    display: inline;
}


#nav-bar {
    background: var(--background);
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/*Start Design with Mobile Layout First*/
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 450ms ease-in-out;
}



.content {
    height: 200vh;
    background-image: url('/assets/images/abstract-gradient-neon-lights.jpg');
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.hero-img {
    margin: 5px;
    border: 2px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.hero-img:hover {
    border: 1px solid #777;
}

.hero-img desc {
    padding: 15px;
    text-align: center;
}

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#gallery img{
    width: 100%;
}

/*Space Out index page Our Services Section*/
#services {
    height: 600px;
}

#our-services {
    text-align: center;
}

#left-services {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-services {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.left-services-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-services-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}



/* Set Design for Desktop Users */
@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
      }
      .logo {
        grid-column: 2 / 3;
      }
      nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      nav ul {
        display: flex  
      }
      nav li {
        margin-left: 3em;
        margin-bottom: 0;
      }
      nav a {
        opacity: 1;
        position: relative;
      }
      nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
      }

      nav a:hover::before {
        transform: scale(1, 1);
      }
}

/*Set Column sizes for smaller width devices*/

@media screen and (max-width: 950px){
    #gallery{
        column-count: 3;
    }
}
  
@media screen and (max-width: 800px){
    #gallery{
        column-count: 2;
    }
}
